################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ItspTest/ItspTest.Api/bin/Debug/net5.0
/ItspTest/.vs/ItspTest/v16
/ItspTest/ItspTest.Api/obj
/ItspTest/.vs/ItspTest/config
/ItspTest/ItspTest.Core/bin/Debug/net5.0
/ItspTest/ItspTest.Core/obj
/ItspTest/bin/Debug
/ItspTest/obj/Docker/obj/Docker
/ItspTest/obj
/ItspTest/Presentation/ItspTest.Presentation/.vscode
